.review {
    height: auto;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.google {
    width: 80%;
    text-align: center;
    font-family: "Playwrite_static";
    position: relative;
    font-size: 42px;
    margin-bottom: 20px;
}

.google.animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--border-color);
    border-radius: 10px;
    animation: borderExpand 1s ease forwards;
}

@media (max-width: 850px) {
    .google {
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .google {
        font-size: 20px;
        width: 90%;
    }

    .google.animate::after {
        height: 2px;
    }
}