.review {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.review_comments {
    height: 500px;
    width: 97%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playpen_Sans";
    background-color: var(--background-color);
    /* border: 1px solid var(--border-color); */
}

.google {
    height: 100px;
    width: 61%;
    font-family: "Playwrite_static";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}

.google.animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--border-color);
    border-radius: 10px;
    animation: borderExpand 1s ease forwards;
}

.google.animate {
    opacity: 1;
}

@keyframes borderExpand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media (max-width: 850px) {

    .review {
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .google {
        height: 100px;
        width: 61%;
        font-size: 25px;
    }

}

@media (max-width: 500px) {

    .review {
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .google {
        height: 100px;
        width: 90%;
        font-size: 18px;
    }

    .google.animate::after {
        height: 2px;
    }

}