.main_package_laptop {
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Playpen_Sans";
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.heading {
    margin-top: 4px;
    width: 25%;
    left: 37%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite_static";
    font-size: 35px;
}

.heading.animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--border-color);
    border-radius: 10px;
    animation: borderExpand 1s ease forwards;
}

.heading.animate {
    opacity: 1;
}

@keyframes borderExpand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.main_package_cards {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
}

.main_package_laptop {
    display: block;
}

.main_package_tablet {
    display: none;
}

.main_package_mobile {
    display: none;
}

/* ---------------------- TABLET ---------------------- */

@media (max-width: 850px) {

    .main_package_tablet {
        height: 460px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: "Playpen_Sans";
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
    }

    /* FIXED: Heading width added for underline animation */
    .heading {
        height: 40px;
        width: 40%;
        left: 31%;
        position: relative;
        display: flex;
        font-size: 27px;
        justify-content: center;
        align-items: center;
    }

    .main_package_cards {
        height: 400px;
        text-align: center;
        object-fit: cover;
        object-position: center;
        color: white;
    }

    .card-img {
        height: 400px;
        object-fit: cover;
        object-position: center;
        background-color: var(--background-color);
    }

    .text-btn {
        color: white;
        transition: 0.5s;
    }

    .text-btn:hover {
        color: var(--hover-color);
    }

    .main_package_laptop {
        display: none;
    }

    .main_package_tablet {
        display: block;
    }

    .main_package_mobile {
        display: none;
    }
}

/* ---------------------- MOBILE ---------------------- */

@media (max-width: 500px) {

    .main_package_mobile {
        height: 300px;
        width: 100%;
        font-family: "Playpen_Sans";
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
    }

    /* FIXED: Heading width & centering for underline animation */
    .heading {
        margin-top: 8px;
        height: 30px;
        width: 50%;
        left: 25%;
        padding-bottom: 5px;
        font-size: 22px;
        position: relative;
    }

    .heading.animate::after {
        height: 2px;
    }

    .main_package_cards {
        height: 250px;
        width: 100%;
        overflow: scroll;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: var(--font-color);
        /* border: 2px solid red; */
    }

    .text-btn {
        color: var(--font-color);
        transition: 0.5s;
    }

    .text-center {
        margin: 5px;
    }

    .main_package_laptop {
        display: none;
    }

    .main_package_tablet {
        display: none;
    }

    .main_package_mobile {
        display: block;
    }
}