.maincontainer_1 {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.why {
    height: 100px;
    width: 31%;
    font-family: "Playwrite_static";
    position: relative;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 41px;
}

.why.animate::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--border-color);
    border-radius: 10px;
    animation: borderExpand 1s ease forwards;
}

.why.animate {
    opacity: 1;
}

@keyframes borderExpand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.block_compo {
    height: 600px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Playpen_Sans";
    /* border: 2px solid red; */
}

.block {
    height: 500px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: purple; */
    /* border: 2px solid red; */
}

.block_img_1 {
    height: 300px;
    width: 70%;
    object-fit: contain;
    object-position: center;
    /* border: 2px solid red; */
}

.block_img_2 {
    height: 300px;
    width: 70%;
    object-fit: contain;
    object-position: center;
    /* border: 2px solid red; */
}

.block_img_3 {
    height: 300px;
    width: 70%;
    object-fit: contain;
    object-position: center;
    /* border: 2px solid red; */
}

.block_img_4 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_5 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_6 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_7 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_8 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_9 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_10 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_img_11 {
    height: 100px;
    width: 11%;
    object-fit: contain;
    object-position: center;
}

.block_p_1 {
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: var(--font-color);
    /* border: 2px solid red; */
}

.block_p_2 {
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    /* border: 2px solid red; */
}

.block_p_3 {
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    /* border: 2px solid red; */
}

.maincontainer_2 {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: "Playpen_Sans";
    /* border: 2px solid red; */
}

.our {
    height: 80px;
    width: 31%;
    font-family: "Playwrite_static";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 51px;
    /* border: 2px solid red; */
}

.our.animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--border-color);
    border-radius: 10px;
    animation: borderExpand 1s ease forwards;
}

.our.animation {
    opacity: 1;
}

@keyframes borderExpand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.block_comp_1 {
    height: 500px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: white;
    /* border: 2px solid var(--border-color); */
}

.b_1 {
    height: 200px;
    width: 95%;
    font-size: 19px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--border-color);
}

@media (max-width: 850px) {

    .maincontainer_1 {
        height: 480px;
        width: 100%;
    }

    .why {
        height: 50px;
        width: 51%;
        left: 6%;
        font-size: 35px;
    }

    .why.animate::after {
        height: 2px;
    }

    .block_compo {
        height: 425px;
        width: 95%;
        /* border: 2px solid red; */
    }

    .block {
        height: 400px;
        width: 30%;
        /* border: 2px solid red; */
    }

    .block_img_1 {
        height: 150px;
        width: 90%;
        /* border: 2px solid red; */
    }

    .block_img_2 {
        height: 150px;
        width: 90%;
        /* border: 2px solid red; */
    }

    .block_img_3 {
        height: 150px;
        width: 90%;
        /* border: 2px solid red; */
    }

    .block_img_4 {
        height: 100px;
        width: 11%;
    }

    .block_img_5 {
        height: 100px;
        width: 11%;
    }

    .block_img_6 {
        height: 100px;
        width: 11%;
    }

    .block_img_7 {
        height: 100px;
        width: 11%;
    }

    .block_img_8 {
        height: 100px;
        width: 11%;
    }

    .block_img_9 {
        height: 100px;
        width: 11%;
    }

    .block_img_10 {
        height: 100px;
        width: 11%;
    }

    .block_img_11 {
        height: 100px;
        width: 11%;
    }

    .block_p_1 {
        height: 200px;
        width: 90%;
        font-size: 13px;
        /* border: 2px solid red; */
    }

    .block_p_2 {
        height: 200px;
        width: 90%;
        font-size: 13px;
        /* border: 2px solid red; */
    }

    .block_p_3 {
        height: 200px;
        width: 90%;
        font-size: 13px;
        /* border: 2px solid red; */
    }

    .maincontainer_2 {
        height: 500px;
        width: 100%;
        /* border: 2px solid red; */
    }

    .our {
        height: 50px;
        width: 41%;
        left: 6%;
        font-size: 40px;
        /* border: 2px solid red; */
    }

    .our.animation::after {
        height: 2px;
    }

    .block_comp_1 {
        height: 425px;
        width: 95%;
        /* border: 2px solid var(--border-color); */
    }

    .b_1 {
        height: 180px;
        width: 95%;
        font-size: 13px;
        border-bottom: 1px solid var(--border-color);
    }

}

@media (max-width: 500px) {

    .maincontainer_1 {
        height: 400px;
        width: 100%;
        /* border: 2px solid red; */
    }

    .why {
        height: 50px;
        width: 61%;
        left: 14%;
        font-size: 18px;
        /* border: 2px solid red; */
    }

    .block_compo {
        height: 325px;
        width: 100%;
        /* border: 2px solid red; */
    }

    .block {
        height: 300px;
        width: 35%;
        /* border: 2px solid red; */
    }

    .block_img_1 {
        height: 100px;
        width: 92%;
        /* border: 2px solid red; */
    }

    .block_img_2 {
        height: 100px;
        width: 92%;
        /* border: 2px solid red; */
    }

    .block_img_3 {
        height: 100px;
        width: 92%;
        /* border: 2px solid red; */
    }

    .block_img_4 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_5 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_6 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_7 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_8 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_9 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_10 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_img_11 {
        display: none;
        /* border: 2px solid red; */
    }

    .block_p_1 {
        height: 150px;
        width: 92%;
        font-size: 8px;
        /* border: 2px solid red; */
    }

    .block_p_2 {
        height: 150px;
        width: 92%;
        font-size: 8px;
        /* border: 2px solid red; */
    }

    .block_p_3 {
        height: 150px;
        width: 92%;
        font-size: 8px;
        /* border: 2px solid red; */
    }

    .maincontainer_2 {
        height: 400px;
        width: 100%;
        /* border: 2px solid red; */
    }

    .our {
        height: 50px;
        width: 41%;
        left: 14%;
        font-size: 18px;
        /* border: 2px solid red; */
    }

    .block_comp_1 {
        height: 325px;
        width: 95%;
        /* border: 2px solid var(--border-color); */
    }

    .b_1 {
        height: 120px;
        width: 98%;
        font-size: 8px;
        padding: 10px;
        padding-top: 20px;
        border-bottom: 1px solid var(--border-color);
    }

}