.Herocontainer {
    height: 790px;
    width: 100%;
    background-image: url("/public/Dattatreya_Temple_of_Girnar.WebP");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Playpen_Sans";
    /* border-bottom: 2px solid var(--border-color); */
}

.Herocontant {
    height: 790px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.Herotitle {
    height: 450px;
    width: 39%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 29%;
    left: 6%;
    backdrop-filter: blur(2px);
    /* border: 2px solid royalblue; */
}

.jktoursHerotitle {
    font-size: 47px;
    text-align: left;
    color: #fff;
}

.p {
    font-size: 17px;
    text-align: left;
    color: #fff;
}

.booking_btn {
    height: 10%;
    width: 30%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff1a1a;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* border: 2px solid royalblue; */
}

.booking_btn:hover {
    background-color: #ca1d1d;
}

.img_contant_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: var(--background-color);
    background-image: url("/public/Flight.webp");
    background-position: center;
    background-size: cover;
    top: 21%;
    left: 75%;
    height: 300px;
    width: 15%;
    border-radius: 100px;
    position: absolute;
    border: 3px solid whitesmoke;
}

.img_contant_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: var(--background-color);
    background-image: url("/public/Train.webp");
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 60%;
    height: 200px;
    width: 15%;
    border-radius: 100px;
    position: absolute;
    border: 3px solid white;
}

.img_contant_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url("/public/world.webp");
    background-position: center;
    background-size: cover;
    top: 60%;
    left: 75%;
    height: 400px;
    width: 30%;
    border-radius: 100%;
    position: absolute;
    border: 2px solid white;
}

.btn_contant {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    color: var(--background-color);
    top: 21%;
    left: 93%;
    height: 300px;
    width: 5%;
    border-radius: 20px;
    position: absolute;
    /* border: 3px solid white; */
}

.btn_1 {
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 6px 20px rgba(4, 4, 10, 0.25);
    transition: 0.5s ease;
    cursor: pointer;
    color: #fff;
}

.btn_1:hover {
    color: #058a07;
}

.btn_2 {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 6px 20px rgba(4, 4, 10, 0.25);
    transition: 0.5s ease;
    cursor: pointer;
    color: #fff;
}

.btn_2:hover {
    color: #ff1a1a;
}

.btn_3 {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 6px 20px rgba(4, 4, 10, 0.25);
    transition: 0.5s ease;
    cursor: pointer;
    color: #fff;
}

.btn_3:hover {
    color: rgb(150, 47, 191);
}

.btn_4 {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 6px 20px rgba(4, 4, 10, 0.25);
    transition: 0.5s ease;
    cursor: pointer;
    color: #fff;
}

.btn_4:hover {
    color: #0A66C2;
}

@media (max-width: 850px) {

    .Herocontainer {
        max-height: 500px;
        max-width: 100%;
        /* border: 2px solid red; */
    }

    .Herocontant {
        max-height: 500px;
        max-width: 100%;
        /* border: 2px solid red; */
    }

    .Herotitle {
        height: 250px;
        width: 40%;
        top: 30%;
        left: 5%;
        backdrop-filter: blur(0px);
        /* border: 2px solid royalblue; */
    }

    .jktoursHerotitle {
        font-size: 25px;
    }

    .p {
        font-size: 12px;
    }

    .booking_btn {
        height: 12%;
        width: 22%;
        font-size: 12px;
    }

    .img_contant_1 {
        top: 27%;
        left: 72%;
        height: 150px;
        width: 20%;
        border: 2px solid whitesmoke;
    }

    .img_contant_2 {
        top: 55%;
        left: 58%;
        height: 100px;
        width: 17%;
        border: 2px solid white;
    }

    .img_contant_3 {
        top: 70%;
        left: 75%;
        height: 200px;
        width: 30%;
        border: 2px solid white;
    }

    .btn_contant {
        top: 25%;
        left: 93%;
        height: 200px;
        width: 5%;
    }

    .btn_1 {
        font-size: 15px;
        width: 40px;
        height: 40px;
    }

    .btn_2 {
        font-size: 15px;
        width: 40px;
        height: 40px;
    }

    .btn_3 {
        font-size: 15px;
        width: 40px;
        height: 40px;
    }

    .btn_4 {
        font-size: 15px;
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 500px) {

    .Herocontainer {
        max-height: 400px;
        max-width: 100%;
        /* border: 2px solid red; */
    }

    .Herocontant {
        max-height: 400px;
        max-width: 100%;
        /* border: 2px solid red; */
    }

    .Herotitle {
        height: 200px;
        width: 50%;
        top: 33%;
        left: 5%;
        backdrop-filter: blur(0px);
        /* border: 2px solid royalblue; */
    }

    .jktoursHerotitle {
        font-size: 17px;
    }

    .p {
        font-size: 9px;
    }

    .booking_btn {
        height: 10%;
        width: 25%;
        font-size: 9px;
    }

    .img_contant_1 {
        top: 31%;
        left: 72%;
        height: 100px;
        width: 17%;
        border: 2px solid whitesmoke;
    }

    .img_contant_2 {
        top: 55%;
        left: 58%;
        height: 80px;
        width: 20%;
        border: 2px solid white;
    }

    .img_contant_3 {
        top: 72%;
        left: 70%;
        height: 150px;
        width: 40%;
        border: 2px solid white;
    }

    .btn_contant {
        top: 25%;
        left: 92%;
        height: 180px;
        width: 5%;
    }

    .btn_1 {
        font-size: 13px;
        width: 30px;
        height: 30px;
    }

    .btn_2 {
        font-size: 13px;
        width: 30px;
        height: 30px;
    }

    .btn_3 {
        font-size: 13px;
        width: 30px;
        height: 30px;
    }

    .btn_4 {
        font-size: 13px;
        width: 30px;
        height: 30px;
    }

}