.transition_hide_payment_online {
    opacity: 0;
    transform: translate(-700px);
    transition: 0.9s;
}

.transition_show_payment_online {
    opacity: 1;
    transform: translate(0);
}

.transition_hide_qrcode {
    opacity: 0;
    transform: translateX(600px);
    transition: 0.9s;
}

.transition_show_qrcode {
    opacity: 1;
    transform: translate(0);
}

.payment {
    height: 500px;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
}

.payment_number_title {
    width: 70%;
    font-size: 25px;
    font-family: "Playwrite_static";
    border-bottom: 2px solid var(--border-color);
}

.payment_online {
    height: 490px;
    width: 49%;
    padding: 10px;
    padding-top: 50px;
    color: var(--font-color);
    font-family: "Playpen_Sans";
    /* border: 2px solid red; */
}

.payment_note {
    height: 300px;
    /* border: 2px solid red; */
}

.payment_note_title {
    font-size: 24px;
    width: 20%;
    border-bottom: 2px solid var(--border-color);
    font-family: "Playwrite_static";
}

.Qrcodenote {
    font-size: 21px;
    width: 60%;
    border-bottom: 2px solid var(--border-color);
    font-family: "Playwrite_static";
}

.Qrcode {
    height: 490px;
    width: 49%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
    object-position: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.QRcode_img {
    height: 400px;
    width: 70%;
    object-fit: contain;
    object-position: center;
    /* border: 2px solid red; */
}

.QrcodeTitle {
    height: 40px;
    width: 100%;
    font-size: 27px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Playwrite_static";
    /* border: 2px solid red; */
}

.Qrcodenote {
    font-size: 25px;
}

.payment_number {
    font-size: 20px;
}

.payment_note {
    font-size: 20px;
}

@media (max-width: 850px) {

    .payment {
        height: 400px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* border: 2px solid red; */
    }

    .payment_number_title {
        width: 90%;
        font-size: 17px;
        font-family: "Playwrite_static";
        border-bottom: 2px solid var(--border-color);
    }

    .payment_online {
        height: 390px;
        width: 49%;
        padding-top: 50px;
        color: var(--font-color);
        font-family: "Playpen_Sans";
        /* border: 2px solid red; */
    }

    .payment_note {
        height: 170px;
        font-size: 12px;
        /* border: 2px solid red; */
    }

    .payment_note_title {
        font-size: 14px;
        width: 25%;
        border-bottom: 2px solid var(--border-color);
        font-family: "Playwrite_static";
    }

    .Qrcodenote {
        font-size: 12px;
        width: 60%;
        border-bottom: 2px solid var(--border-color);
        font-family: "Playwrite_static";
    }

    .Qrcode {
        height: 390px;
        width: 49%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: contain;
        object-position: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .QrcodeTitle {
        height: 40px;
        width: 100%;
        font-size: 17px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Playwrite_static";
        /* border: 2px solid red; */
    }

    .payment_number {
        font-size: 12px;
    }

    .payment_note {
        font-size: 11px;
    }

}

/* responsive_mobile */

@media (max-width: 500px) {

    .payment {
        height: 700px;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .payment_number_title {
        width: 95%;
        font-size: 17px;
        font-family: "Playwrite_static";
        border-bottom: 2px solid var(--border-color);
    }

    .payment_online {
        height: 290px;
        width: 99%;
        padding-top: 10px;
        color: var(--font-color);
        font-family: "Playpen_Sans";
        /* border: 2px solid red; */
    }

    .payment_note_title {
        font-size: 14px;
        width: 23%;
        border-bottom: 2px solid var(--border-color);
        font-family: "Playwrite_static";
    }

    .Qrcodenote {
        font-size: 17px;
        width: 80%;
        border-bottom: 2px solid var(--border-color);
        font-family: "Playwrite_static";
    }

    .Qrcode {
        height: 390px;
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: contain;
        object-position: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .QrcodeTitle {
        height: 40px;
        width: 100%;
        font-size: 17px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Playwrite_static";
        /* border: 2px solid red; */
    }

    .payment_number {
        font-size: 12px;
    }

    .payment_note {
        font-size: 11px;
    }

}