.contact {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
    /* border: 2px solid red; */
}

.contact_header {
    height: 400px;
    width: 49%;
    padding: 4%;
    font-family: "Playwrite_static";
    /* border: 2px solid red; */
}

.contact_map {
    height: 400px;
    width: 49%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.contact_text {
    padding: 3px;
    font-size: 17px;
    font-family: "Playpen_Sans";
    text-decoration: none;
    transition: 0.5s;
    color: var(--font-color);
}

.contact_text:hover {
    text-decoration: none;
    color: var(--hover-color);
}

#map {
    height: 315px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 2%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

@media (max-width: 850px) {

    .contact {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid red; */
    }

    .contact_header {
        height: 300px;
        width: 50%;
        padding: 10px;
        /* border: 2px solid red; */
    }

    .contact_map {
        height: 300px;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        object-position: center;
        /* border: 2px solid red; */
    }

    .contact_text {
        padding: 3px;
        font-size: 14px;
        text-decoration: none;
        transition: 0.5s;
        color: var(--font-color);
    }

    .contact_text:hover {
        text-decoration: none;
        color: var(--hover-color);
    }

    #map {
        height: 290px;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        object-position: center;
        /* border: 2px solid red; */
    }
}

@media (max-width: 500px) {

    .contact {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .contact_header {
        height: 250px;
        width: 100%;
        padding: 10px;
        /* border: 2px solid red; */
    }

    .contact_map {
        height: 260px;
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        object-position: center;
        /* border: 2px solid red; */
    }

    .contact_text {
        padding: 3px;
        font-size: 10px;
        text-decoration: none;
        transition: 0.5s;
        color: var(--font-color);
    }

    .contact_text:hover {
        text-decoration: none;
        color: var(--hover-color);
    }

    #map {
        height: 250px;
        width: 90%;
        left: -1px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        object-position: center;
        /* border: 2px solid red; */
    }

}