.footer {
    height: 800px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.footerimg {
    height: 90px;
    width: 7%;
    display: flex;
    /* border: 2px solid red; */
}

.jklogo {
    width: 100%;
    border-radius: 50%;
    /* border: 2px solid red; */
}

.footerl_link {
    height: 680px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 7px;
    /* border: 2px solid red; */
}

.footermap {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 4px solid red; */
}

#map_1 {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.map_heading {
    height: 30px;
    width: 10%;
    font-size: 22px;
    text-align: center;
    font-family: "Playwrite_static";
    color: var(--font-color);
    border-bottom: 2px solid var(--border-color);
}

.footercontent {
    height: 420px;
    width: 70%;
    position: relative;
    left: -12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 4px solid red; */
}

.footertext {
    height: 260px;
    width: 49%;
    padding: 10px;
    font-family: "Playpen_Sans";
    /* border: 4px solid red; */
}

.footercontact {
    height: 260px;
    width: 49%;
    padding: 10px;
    font-family: "Playpen_Sans";
    /* border: 4px solid red; */
}

.text_heading {
    width: 50%;
    font-size: 22px;
    margin-bottom: 35px;
    font-family: "Playwrite_static";
    border-bottom: 1px solid var(--border-color);
    color: var(--font-color);
}

li {
    list-style-type: none;
}

.text {
    padding: 3px;
    font-family: "Playpen_Sans";
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 5px;
    color: var(--font-color);
}

.text:hover {
    text-decoration: none;
    color: var(--hover-color);
}

.footer_info {
    /* border: 3px solid red; */
    height: 80px;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Playpen_Sans";
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.footer_info_btn {
    text-decoration: none;
    transition: 0.5s;
    color: var(--font-color);
}

.footer_info_btn:hover {
    color: var(--hover-color);
}

@media (max-width: 850px) {

    .footer {
        height: 700px;
        width: 100%;
        padding: 5px;
        border-top: 1px solid var(--border-color);
    }

    .footerimg {
        height: 60px;
        width: 8%;
        /* border: 2px solid red; */
    }

    .jklogo {
        width: 100%;
        border-radius: 50%;
        /* border: 2px solid red; */
    }

    .footerl_link {
        height: 630px;
        width: 99%;
        padding: 7px;
        /* border: 2px solid red; */
    }

    .footermap {
        height: 300px;
        width: 99%;
        /* border: 4px solid red; */
    }

    #map_1 {
        height: 80%;
        width: 100%;
        border-radius: 20px;
        /* border: 2px solid red; */
    }

    .map_heading {
        font-size: 20px;
        width: 20%;
    }

    .footercontent {
        height: 290px;
        width: 100%;
        left: 0%;
        /* border: 4px solid red; */
    }

    .footertext {
        height: 250px;
        width: 49%;
        padding: 7px;
        font-size: 15px;
        /* border: 4px solid red; */
    }

    .footercontact {
        height: 250px;
        width: 49%;
        padding: 7px;
        font-size: 15px;
        /* border: 4px solid red; */
    }

    .text_heading {
        width: 55%;
        font-size: 18px;
        border-bottom: 1px solid var(--border-color);
    }

    .footer_info {
        /* border: 3px solid red; */
        height: 60px;
        font-size: 15px;
    }

}

@media (max-width: 500px) {

    .footer {
        height: 60rem;
        width: 100%;
        padding: 5px;
        border-top: 1px solid var(--border-color);
    }

    .footerimg {
        height: 70px;
        width: 20%;
        margin: 11px;
        /* border: 2px solid red; */
    }

    .footerl_link {
        height: 55rem;
        width: 99%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        /* border: 2px solid red; */
    }

    .footermap {
        height: 22rem;
        width: 99%;
        margin-top: -90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* border: 4px solid red; */
    }

    #map_1 {
        height: 80%;
        width: 90%;
        /* border: 2px solid red; */
    }

    .map_heading {
        height: 30px;
        width: 30%;
        font-size: 20px;
        text-align: center;
        position: relative;
    }

    .footercontent {
        height: 50%;
        width: 100%;
        left: 0%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* border: 4px solid red; */
    }

    .footertext {
        height: 180px;
        width: 97%;
        padding: 5px;
        font-size: 11px;
        /* border: 4px solid red; */
    }

    .footercontact {
        height: 180px;
        width: 97%;
        font-size: 11px;
        padding: 5px;
        /* border: 4px solid red; */
    }

    .text_heading {
        font-size: 16px;
        margin-bottom: 17px;
        padding-bottom: 3px;
        width: 50%;
        border-bottom: 1px solid var(--border-color);
        color: var(--font-color);
    }

    li {
        list-style-type: none;
    }

    .text {
        text-decoration: none;
        transition: 0.5s;
        color: var(--font-color);
    }

    .text:hover {
        text-decoration: none;
        color: var(--hover-color);
    }

    .footer_info {
        height: 65px;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid var(--border-color);
    }

}