@font-face {
    font-family: "Playpen_Sans";
    src: url(/public/fonts/PlaypenSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playwrite_static";
    src: url(./public/fonts/PlaywriteNO-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: rgb(0, 0, 0);
    --hover-color: rgba(0, 42, 255, 0.647);
    --font-color: rgba(255, 255, 255, 0.2);
    --background-color: rgba(255, 255, 255, 0.5);
}

.transition_hide {
    opacity: 0;
    transform: translate(-50px);
    transition: 0.9s;
}

.transition_show {
    opacity: 1;
    transform: translate(0);
}