/* Header */
.header_line {
    height: 40px;
    width: 95%;
    position: fixed;
    top: 1%;
    z-index: 20;
    gap: 8px;
    left: 2%;
    transform: translateX(-50%);
    border-bottom: transparent;
    border-radius: 18px 18px 0px 0px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playpen_Sans";
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-bottom: transparent;
}

.help a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.help a:hover {
    color: var(--hover-color);
}

/* Navbar */
.nav {
    position: fixed;
    top: 45px;
    left: 2%;
    transform: translateX(-50%);
    width: 95%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 25px;
    border-radius: 0px 0px 18px 18px;
    z-index: 30;
    border-top: transparent;
    transition: 0.4s ease;
    font-family: "Playpen_Sans";
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-top: transparent;
}

.navimg img {
    height: 55px;
    width: 55px;
    background-color: var(--border-color);
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
}

.navimg img:hover {
    transform: scale(1.1);
}

/* Desktop Buttons */
.navbtn {
    padding: 10px 18px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.18);
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    text-decoration: none;
    color: var(--font-color);
    transition: 0.3s;
}

.navbtn:hover {
    transform: translateX(8px);
    transform: translateY(-3px);
    color: var(--hover-color);
    background: rgba(255, 255, 255, 0.35);
}

/* Toggle Button */
.toggle_btn {
    display: none;
    cursor: pointer;
    color: var(--font-color);
}

.container {
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
    /* border: 2px solid red; */
}

.change .bar1 {
    transform: translate(0, 5px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* left Sidebar */
.left_sidebar {
    position: fixed;
    top: 0;
    left: -270px;
    height: 100vh;
    width: 260px;
    padding: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    transition: 0.45s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 50;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.left_sidebar.open {
    left: 0;
}

.side_link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    color: var(--font-color);
    transition: 0.3s;
}

.side_link:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: translateX(8px);
}

/* Desktop active */
.navbtn.active {
    background: linear-gradient(135deg, #007bff, #074cb8) !important;
    color: #fff !important;
    box-shadow: 0 8px 25px rgba(0, 123, 255, 0.35);
    transform: translateY(-3px);
}

/* Sidebar active */
.side_link.active {
    background: rgba(255, 255, 255, 0.35) !important;
    color: var(--hover-color) !important;
    box-shadow: 0 6px 18px rgba(0, 123, 255, 0.5);
    transform: translateX(10px);
}

@media (max-width: 850px) {

    .header_line {
        height: 30px;
        width: 100%;
        border-radius: 0;
        top: 0;
        padding-top: 10px;
        gap: 8px;
        left: 0;
    }

    .nav {
        width: 100%;
        top: 4%;
        padding: 4px;
        left: 0;
        border-radius: 0;
    }

    .navimg img {
        height: 45px;
        width: 45px;
    }

    .navbtn {
        height: 60%;
        width: 17%;
        padding: 0;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 2px solid red; */
    }
}

@media (max-width: 500px) {

    .header_line {
        height: 30px;
        width: 100%;
        font-size: 10px;
    }

    .help a {
        font-size: 10px;
    }

    .nav {
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
        top: 24px;
    }

    .navimg img {
        margin-left: 5px;
    }

    .navbtn {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .navimg img {
        height: 50px;
        width: 50px;
    }
}