/* header */

.header_line {
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--font-color);
    position: fixed;
    top: 0;
    font-family: "Playpen_Sans";
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    /* border-radius: 10px 10px 0 0; */
    /* border: 2px solid white; */
}

.help {
    height: 29px;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-left: 2px;
    /* border: 2px solid red; */
}

.help_no_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin: 5px;
    color: var(--font-color);
    text-decoration: none;
    transition: 0.5s;
    /* border: 2px solid red; */
}

.help_no_1:hover {
    color: var(--hover-color);
}

.help_no_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    margin-left: 4px;
    color: var(--font-color);
    text-decoration: none;
    font-family: "Playpen_Sans";
    transition: 0.5s;
    /* border: 2px solid red; */
}

.help_no_2:hover {
    color: var(--hover-color);
}

/* navbar */

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 2.3%;
    padding: 5px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    /* border-radius: 0 0 10px 10px; */
    /* border: 2px solid red; */
}

.navimg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
    margin-left: 8px;
    background-color: #333;
    /* border: 2px solid red; */
}

.navimg:hover {
    filter: drop-shadow(0 5px 6px var(--hover-color));
}

.navbtn {
    height: 50px;
    width: 11%;
    font-family: "Playpen_Sans";
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    font-size: 20px;
    color: var(--font-color);
    border: none;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    /* border: 2px solid red; */
}

.navbtn:hover {
    color: var(--hover-color);
    box-shadow: 1px;
    border-width: auto;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0 6px 12px var(--hover-color);
    transform: translateY(-2px);
}

.mobile_navbtn {
    height: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 3px 0;
    color: var(--font-color);
    border-width: 0;
    transition: 0.5s;
    /* border: 2px solid red; */
}

.mobile_navbtn:hover {
    color: var(--hover-color);
    transition: 0.5s;
}

.toggle_btn {
    height: auto;
    width: auto;
    display: none;
    transition: 0.7s;
    z-index: 2;
    /* border: 2px solid red; */
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
    /* border: 2px solid red; */
}

.change .bar1 {
    transform: translate(0, 8.5px) rotate(-40deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -5px) rotate(40deg);
}

.dropdown_menu {
    height: 0;
    z-index: 1;
    right: 2em;
    top: 90px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backdrop-filter: blur(5px);
    /* border: 2px solid red; */
}

.dropdown_menu.open {
    height: 170px;
    padding: 22px 11px 0px 0px;
}

.dropdown_menu li {
    padding: 0.7rem;
    color: var(--font-color);
    font-family: "Playpen_Sans";
    list-style-type: none;
}

@media (max-width: 850px) {

    /* headline */

    .header_line {
        height: 20px;
        width: 100%;
    }

    .help {
        height: 10px;
        margin: 2px;
        font-size: 11px;
    }

    .help_text {
        font-size: 11px;
    }

    /* navbar */

    .nav {
        height: 70px;
    }

    .navimg {
        height: 50px;
        width: 6.7%;
    }

    .navbtn {
        height: 40px;
        width: 11%;
        font-size: 11px;
    }

}

@media (max-width: 500px) {

    /* headline */

    .header_line {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .help_no_1 {
        font-size: 10px;
        font-family: "Playpen_Sans";
    }

    .help_no_2 {
        font-size: 10px;
        font-family: "Playpen_Sans";
    }

    /* navbar */

    .nav {
        margin-top: 20px;
        height: 60px;
        font-size: 4px;
    }

    .navimg {
        height: 99%;
        width: 13%;
        margin-left: 5px;
    }

    .navbtn {
        display: none;
    }

    .mobile_navbtn {
        font-size: 15px;
    }

    .toggle_btn {
        display: block;
        float: right;
        padding: 10px;
        transition: 0.5s;
        /* border: 2px solid red; */
    }

    .dropdown_menu {
        display: block;
        top: 60px;
    }

}